<div class="py-1">
    <button type="button" mat-flat-button (click)="addTask()">Add Task</button>
</div>

<div class="py-1 filter-bar">
    <div class="filter">
        <button type="button" mat-flat-button [ngClass]="{'active': filterStatus == 'all'}" (click)="setFilter('all')">All</button>
        <button type="button" mat-flat-button [ngClass]="{'active': filterStatus == 'active'}" (click)="setFilter('active')">Active</button>
        <button type="button" mat-flat-button [ngClass]="{'active': filterStatus == 'completed'}" (click)="setFilter('completed')">Completed</button>
    </div>
    <div class="sort">
        <button mat-icon-button *ngIf="sortStatus == 'no'" type="button" (click)="setSort('asc')">
            <mat-icon>swap_vert</mat-icon>
        </button>
        <button mat-icon-button *ngIf="sortStatus == 'asc'" type="button" (click)="setSort('desc')">
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <button mat-icon-button *ngIf="sortStatus == 'desc'" type="button" (click)="setSort('no')">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>
</div>

<div class="p-2" *ngIf="(filteredTasks$ | async)!.length > 0; else noTask">
    <app-task-item *ngFor="let task of filteredTasks$ | async" 
                    [task]="task" 
                    (editTask)="editTask($event)" 
                    (deleteTask)="deleteTask($event)"
                    (completeTask)="completeTask($event)"></app-task-item>
</div>

<ng-template #noTask>
    <div class="p-2">No tasks found.</div>
</ng-template>